doctype html
html
  head
    meta(charset='UTF-8')
    title='Cosas Art Photo'
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container')
      block content


    script(src='/javascripts/vendor/jquery.min.js')
    block scripts